<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ace777.sonde-volume-panier</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/christophe/ace777-test-day1/Index_Maison/scripts/path_registry.py</string>
		<string>run</string>
		<string>--heartbeat</string>
		<string>data/heartbeat_sonde_volume.json</string>
		<string>--</string>
		<string>/usr/bin/python3</string>
		<string>/Users/christophe/ace777-test-day1/hulk-mexc/scripts/sonde_volume_panier.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/sonde_volume_panier_launchd.err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/sonde_volume_panier_launchd.out.log</string>
	<key>StartInterval</key>
	<integer>1800</integer>
</dict>
</plist>
