<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ace777.run-setupA-4h</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-lc</string>
        <string>cd /Users/christophe/ace777-test-day1 &amp;&amp; exec ./GO_VORTEX_V2.sh 04:00:00</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/christophe/ace777-test-day1</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/christophe/ace777-test-day1/runs/launch_setupA_20260817.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/christophe/ace777-test-day1/runs/launch_setupA_20260817.log</string>
</dict>
</plist>
