<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ace777.archi-vivante</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/christophe/ace777-test-day1/Index_Maison/scripts/archi_vivante.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/archi_vivante.err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/archi_vivante.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>7</integer>
		<key>KeepAlive</key>
		<true/>
		<key>Minute</key>
		<integer>0</integer>
		<key>RunAtLoad</key>
		<true/>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/christophe/ace777-test-day1/Index_Maison/scripts</string>
</dict>
</plist>
