<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ace777.fees</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/Resources/Python.app/Contents/MacOS/Python</string>
		<string>/Users/christophe/ace777-test-day1/Index_Maison/scripts/fees_platforme.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/christophe/ace777-test-day1/Index_Maison/thermo/fees_launchd.err</string>
	<key>StandardOutPath</key>
	<string>/Users/christophe/ace777-test-day1/Index_Maison/thermo/fees_launchd.out</string>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>
