<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ace777.suivi-setup-red</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/christophe/ace777-test-day1/hulk-mexc/scripts/suivi_setup_red.py</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>16</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>
	<key>StandardErrorPath</key>
	<string>/tmp/suivi_setup_red_launchd.err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/suivi_setup_red_launchd.out.log</string>
</dict>
</plist>
