<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ace777.run72h</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/christophe/ace777-test-day1/GO_VORTEX_V2.sh</string>
        <string>72:00:00</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/christophe/ace777-test-day1</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/run72h_launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/run72h_launchd.err.log</string>
</dict>
</plist>
